.fn_group
    //- #flash_fn_group
    a(href='#{download}',class='fn_download_btn',target='_blank')
    a(href='#{reg}',class='fn_reg',target='_blank')
    a(href='#{get_gift}',class='fn_get_gift',target='_blank')
    a(href='#{active_gift}',class='fn_active_gift',target='_blank')
    a(href='#{charge}',class='fn_charge',target='_blank')