.fn_group
    a(href='#{download}',class='fn_download_btn',target='_blank')
    a(href='#{reg}',class='fn_reg_btn',target='_blank')
    a(href='#{get_gift}',class='fn_charge_btn',target='_blank')
    a(href='#{active_gift}',class='fn_get_gift_btn',target='_blank')
    a(href='#{charge}',class='fn_active_btn',target='_blank')