.nav
    #flash_nav
    //- a(href='#{nycs_index}',class='nav_index')
    //- a(href='#{nav_news}',class='nav_news')
    //- a(href='#{nav_user}',class='nav_user')
    //- a(href='#{nav_lib}',class='nav_lib')
    //- a(href='#{nav_video}',class='nav_video')
    //- a(href='#{nav_service}',class='nav_service')
    //- a(href='#{nav_bbs}',class='nav_bbs')