.nav
    a(href='#{nycs_main}',class='fn_main')
    a(href='#{nav_news}',class='fn_news')
    a(href='#{download}',class='fn_download')
    a(href='#{nav_user}',class='fn_usercenter')
    a(href='#{nav_lib}',class='fn_gameinfo')
    a(href='#{nav_service}',class='fn_service',target='_blank')
    a(href='#{nav_bbs}',class='fn_bbs',target='_blank')