- var snapshotimg_home = 'http://s.syyx.com/nycs/img/index_html/'
//- - var snapshot_a = snapshotimg_home + 'a.jpg'
//- - var snapshot_b = snapshotimg_home + 'b.jpg'
//- - var snapshot_c = snapshotimg_home + 'c.jpg'
//- - var snapshot_d = snapshotimg_home + 'd.jpg'
//- - var snapshot_e = snapshotimg_home + 'e.jpg'
//- - var snapshot_f = snapshotimg_home + 'f.jpg'
//- - var snapshot_g = snapshotimg_home + 'g.jpg'
//- - var snapshot_h = snapshotimg_home + 'h.jpg'

.game_snapshot
    a#snapshot_left(href = 'javascript:undefined')
    a#snapshot_right(href = 'javascript:undefined')
    .snapshot_frame
        .snapshot_imgs
            a(href="#{snapshotimg_home}la.jpg")
                img(src = '#{snapshotimg_home}a.jpg', width = '216', height = '130')
            a(href="#{snapshotimg_home}lb.jpg")
                img(src = '#{snapshotimg_home}b.jpg', width = '216', height = '130')
            a(href="#{snapshotimg_home}lc.jpg")
                img(src = '#{snapshotimg_home}c.jpg', width = '216', height = '130')
            a(href="#{snapshotimg_home}ld.jpg")
                img(src = '#{snapshotimg_home}d.jpg', width = '216', height = '130')
            a(href="#{snapshotimg_home}le.jpg")
                img(src = '#{snapshotimg_home}e.jpg', width = '216', height = '130')
            a(href="#{snapshotimg_home}lf.jpg")
                img(src = '#{snapshotimg_home}f.jpg', width = '216', height = '130')
            a(href="#{snapshotimg_home}lg.jpg")
                img(src = '#{snapshotimg_home}g.jpg', width = '216', height = '130')
            a(href="#{snapshotimg_home}lh.jpg")
                img(src = '#{snapshotimg_home}h.jpg', width = '216', height = '130')
