extends ../include/_frame

block p_variable
    -var p           = "p024"
    -var keywords    = "诺亚传说,网游,2012题材,网络游戏,人气,新世界,公平,免费,热门,2d,新游,排行榜"
    -var description = "全新2012题材人气巨作《诺亚传说》，科技与魔法完美融合的未来新世界，揭秘2012末日预言！唯美的未来世界，个性的异能职业，革新的趣味玩法，激爽的跨服PK，首创“微消费”公平模式，终极内测火爆进行中，7组万人新服等你开启！ "

block body
    .container
        .wrap
            .main
                #banner
                    img(width="855",height="643px",src="#{img_path}cyl.jpg",style="display:block")
                    img(width="855",height="643px",src="#{img_path}jws.jpg")
                    img(width="855",height="643px",src="#{img_path}gdj.jpg")
                    img(width="855",height="643px",src="#{img_path}qxs.jpg")
                    img(width="855",height="643px",src="#{img_path}ynz.jpg")
                    #swf
                    a.cyl(href="javascript:undefined")
                    a.jws(href="javascript:undefined")
                    a.gdj(href="javascript:undefined")
                    a.qxs(href="javascript:undefined")
                    a.ynz(href="javascript:undefined")
                a.logo(href="#{url_nycs}",target="_blank")
                a.mini(href="#{url_mini_client}")
                a#reg_1(href="javascript:undefined")
                .nav
                    a(href="http://events.syyx.com/nycs/index_xq.html",target="_blank",title="官网首页",hidefocus="true") 了解更多
                    |  |
                    a(href="#{url_reg_page}",target="_blank",title="注册账号",hidefocus="true") 注册
                    |  |
                    a(href="#{url_download_page}",target="_blank",title="下载游戏",hidefocus="true") 下载
                #video
                a#reg_2(href="javascript:undefined")
                include ../include/copyright
            #reg_scroll
                a#reg_but(href="javascript:undefined")
                #reg_box
                    include ../include/reg_8
                    span#close