#common_feature
    .feature_link
        a.feature_btn(href='#{bind_mobile}',target='_blank') 绑定手机
        a.feature_btn(href='#{bind_token}',target='_blank') 绑定尚方保剑
        a.feature_btn(href='#{modify_email}',target='_blank') 修改注册邮箱
        a.feature_btn(href='#{modify_password}',target='_blank') 修改密码
        a.feature_btn(href='#{bind_card}',target='_blank') 绑定密保卡
        a.feature_btn(href='#{service_faq}',target='_blank') 常见问题查询
    .service_info
        div 客服电话：400-<span>1</span>66-<span>8</span>666
        div 客服传真: 0755-61864520
        div 客服邮箱：kf_nycs@syyx.com
        div 投诉邮箱：ts_nycs@syyx.com
    .healthy_info
        .title 健康游戏公告 
        .content 
            div 抵制不良游戏　拒绝盗版游戏　注意自我保护　谨防受骗上当　
            div 适度游戏益脑　沉迷游戏伤身　合理安排时间　享受健康生活