#screenshot
    ul
        li
            a(href='#game_screenshot',name='#{index_screen}') 游戏截图
        li
            a(href='#wallpaper',name='#{index_paper}') 壁纸原画
        li
            a(href='#user_photo',name='#{index_photo}') 玩家照片
    #game_screenshot
        //- a.item(href='#')
        //-     img(src='http://s.syyx.com/events/index35/img/index35-2012/s4.jpg')
        //-     span 截图
        a.more(href='#{index_screen}',target='_blank') 更多>>
    #wallpaper
        a.more(href='#{index_paper}',target='_blank') 更多>>
    #user_photo
        a.more(href='#{index_photo}',target='_blank') 更多>>